@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
	font-family: 'JetBrains Mono', monospace;
	background: white;
}
#exit {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 85%;
	left: 85%;
	transform: translate(-50%, -50%);
}
#exit:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#filesButton {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
}
#filesButton:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#clearSelection {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#clearSelection:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#continue {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}
#continue:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#filesHeading {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#goBack {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 85%;
	left: 15%;
	transform: translate(-50%, -50%);
}
#goBack:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#filesListHeading {
	position: absolute;
	top: 13%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}
#status {
	position: absolute;
	top: 13%;
	left: 70%;
	transform: translate(-50%, -50%);
	font-size: 25;
}

#archiveZip {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 70%;
	left: 78%;
	transform: translate(-50%, -50%);
}
#archiveZip:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}
#archiveTarGz {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 85%;
	left: 76%;
	transform: translate(-50%, -50%);
}
#archiveTarGz:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#decompress {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 55%;
	left: 80.9%;
	transform: translate(-50%, -50%);
}
#decompress:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

#exit2 {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	position:absolute;
	top: 70%;
	left: 13.1%;
	transform: translate(-50%, -50%);
}
#exit2:hover {
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}
